:root {
    --blue-color-primary: #79BEE6;
    --blue-color-bold: #007BBF;
    --blue-color-extra-bold: #2B3FF8;
    --blue-color-light: #8ED8FF;
    --blue-color-extra-light: #DFF2FF;
    --blue-background-color: #F1F5FF;
    --green-color-bold: #DCF4FF;
    --green-color-light: #35F287;
    --red-color-bold: #FF3334;
    --yellow-color-bold: #F7C836;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --peach-color: #F98066;
    --gray-color: #4f4f4f;

}

.food-container {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 35px;

        .action-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;

            .create {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
                font-weight: 500;
            }

            .create {
                background-color: var(--white-color);
                padding: 15px;
                border-radius: 10px;
                cursor: pointer;
            }

            .create {
                background-color: var(--blue-color-extra-bold);
                color: var(--white-color);
            }
        }
    }
}