:root {
  --blue-color-primary: #79bee6;
  --blue-color-bold: #007bbf;
  --blue-color-extra-bold: #2b3ff8;
  --blue-color-light: #8ed8ff;
  --blue-color-extra-light: #dff2ff;
  --blue-background-color: #f1f5ff;
  --green-color-bold: #dcf4ff;
  --green-color-light: #35f287;
  --red-color-bold: #ff3334;
  --yellow-color-bold: #f7c836;
  --white-color: #ffffff;
  --black-color: #000000;
  --peach-color: #f98066;
  --gray-color: #4f4f4f;
}

.topbar-container {
  padding: 35px;
  width: calc(100% - 300px);
  margin-left: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .search-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    border-radius: 10px;
    background-color: var(--white-color);
    padding: 14px;

    input {
      font-size: 1.1rem;
      border: none;
      outline: none;
      width: 100%;
      padding-left: 10px;
    }
  }

  .avatar-notification {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    height: 54px;

    .notification {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .bell-icon {
        font-size: 1.8rem;
      }

      .number-notification {
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: var(--red-color-bold);
        top: 5px;
        right: 6px;
      }
    }

    .avatar {
      background-color: var(--white-color);
      padding: 5px;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;

      img {
        width: 40px;
        height: 40px;
        object-fit: contain;
        border-radius: 10px;
        padding: 3px;
        background-color: var(--blue-color-light);
      }
    }
  }
}
